<div class="text-center" id="landing">
  <h1>Stay Afloat Amid the Stress</h1>
  <p>Don't let the stress overwhelm you. Keep track of what makes you happy.</p>
  <a class="btn btn-default" href="#/signup" role="button">Register</a>
  <a class="btn btn-default" href="#/login" role="button">Login</a>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada rutrum venenatis. Etiam vehicula accumsan velit sit amet congue.
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        In vestibulum quam id maximus lobortis. Morbi nec justo aliquam, laoreet orci et, venenatis tellus. Donec sed eleifend leo. Duis sed venenatis dolor.
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        In sed tincidunt eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla arcu risus, laoreet non enim vel, elementum pretium magna. Aenean dictum aliquet elit, convallis ornare mauris suscipit in.
      </div>
    </div>
  </div>
</div>
